body{
    font-family: 'Montserrat-black', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight:900;
    font-size: 3.5 rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5 rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat-black", sans-serif ;
    font-size: 1.5rem;
}
/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}
@media (max-width: 1028px) {

    #title{
        text-align: center;
    }
    .title-img {
        margin-top: 30%;
        position: static;
        transform: rotate(0);
    }
}
.container-fluid{
    padding-bottom: 33%;
}

/* features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    padding-bottom: 20px;
}
.icon:hover{
    background-color: #ff4c68
}
/* testimonial section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;  
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172 ;
    text-align: center;
    padding-bottom: 30px;
}
.press-image{
    width: 15%;
    margin: 20px 20px 50px;


}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-class{
    padding: 2% 3%;
}
